<form [formGroup]="userForm" novalidate>
    <div class="container form">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" formControlName="name"><br>
    
        <label for="email">Email:</label>
        <input type="text" class="form-control" formControlName="email"><br>
    
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" formControlName="phone"><br>
    
        <label for="password">Password:</label>
        <input type="password" class="form-control" formControlName="password"><br>
    
        <button class="btn btn-salvar" (click)="insert(userForm.value)" [disabled]="!userForm.valid">Salvar</button>
        <div class="float-right">
            <button class="btn btn-danger" [routerLink]="['/']" >Cancelar</button>
        </div>
    </div>

</form>


<pre>{{ userForm.value | json }}</pre>