<form [formGroup]="userForm" novalidate>
    <div class="container form">

        <div class="row">
            <div class="col-sm-12">
                <label for="name">Nome:</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <label for="email">Email:</label>
                <input type="text" class="form-control" formControlName="email">
            </div>

            <div class="col-sm-4">
                <label for="phone">Nº Celular:</label>
                <input [textMask]="{mask: mask}" class="form-control" formControlName="phone" type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" formControlName="password"><br>
            </div>
            <div class="col-sm-6">
                <label for="password">Confirme sua senha:</label>
                <input type="password" class="form-control" formControlName="password1"><br>
            </div>
        </div>


        <button class="btn btn-primary" (click)="insert(userForm.value)" [disabled]="!userForm.valid">Salvar</button>
        <div class="float-right">
            <button class="btn btn-danger" [routerLink]="['/']">Cancelar</button>
        </div>

    </div>
</form>