<div class="container list">
    <div class="card">
        <div class="card-header">
            <h2>Lista de Usuários</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered" *ngIf="users != ''; else vazio">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngFor="let user of users">
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td><button (click)="delete(user.id)" class="btn btn-danger">X</button></td>
                    </tr>
                </tbody>
            </table>
            <ng-template #vazio>Lista Vazia</ng-template>
        </div>
        <div class="card-footer">
            <button [routerLink]="['/new']" class="btn btn-primary">Novo Usuário</button>
        </div>
    </div>
</div>